* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Arial", "Helvetica", sans-serif;
}

h1 {
    color: black;
    text-align: center;
}

.row {
    margin: auto;
}

/* Setting border 1px as per requirement*/
.item { 
    border: 1px solid #000;
    margin: 1.5%;
}

/* Setting border 1px as per requirement*/
.item h3 {
    text-align: center;
    width: 150px;
    margin: 0;
    float: right;
    border: 1px solid #000;
    position: relative;
    left: 2px;
    top: -2px;
    padding: 1%;
}

.item:nth-child(1) h1{
    background-color: #601de4;
    color: #9cffa4;
}
.item:nth-child(2) h1{
    background-color: #940000;
    color: #fff134;
}
.item:nth-child(3) h1{
    background-color: #078020;
    color: #fff;
}

/* Section Color Background */
.item:nth-child(1){
    background-color: #f1e3fb;
}
.item:nth-child(2){
    background-color: #ffdada;
}
.item:nth-child(3){
    background-color: #ebffef;
}

/* Item Content */
p {
    padding: 10px;
    clear: both;
    font-size: 15px;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 2px;
    margin-right: 2px;
}

.title1 {
    background-color: aqua;
}

.title2 {
    background-color: seagreen;
}

.title3 {
    background-color: palevioletred;
}
/* Large devices */
@media (min-width: 992px) {
  .col-lg-4 {
    float: left;
    width: 30%;
  }
}

/* Medium devices */
@media (min-width: 768px) and (max-width: 991px) {
  .col-md-6 {
    float: left;
    width: 47%;
  }
  .col-md-12 {
    clear: both;
  }
}

/* Small devices */
@media max-width: 767px {
  .col-sm-12 {
    width: 100%;
  }
}